# Bu faylı kopyala: cp inventory.ini.example inventory.ini
# IP-ləri `terraform output` nəticəsindən doldur.
# inventory.ini .gitignore-dadır (real IP-lər commit olunmur).

[wazuh_manager]
wazuh-manager ansible_host=WAZUH_MANAGER_PUBLIC_IP

[ioc_collector]
ioc-collector ansible_host=IOC_COLLECTOR_PUBLIC_IP

[linux_target]
linux-target ansible_host=LINUX_TARGET_PUBLIC_IP

[all:vars]
ansible_user=wazuhadmin
ansible_ssh_private_key_file=~/.ssh/gcp_wazuh_key
ansible_python_interpreter=/usr/bin/python3
